*{
    margin: 0px;
    padding: 0px;  
}

.boby {
    background-color: #729092;
} 

.menu {
    background-color: #73A9AD;
    height: 60px;
    display: flex;
    align-items: flex;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: +3;
}

.home {
    color: aliceblue;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    cursor: pointer;
    transition-duration:70ms;
}

.home:hover {
    color: rgb(217, 219, 221);
    border-bottom: 7px solid #1f893a;
}

.rong {
    margin: auto;
    background-color: rgb(255, 255, 255);
    background-image: url('img-t1.png');
    background-repeat: no-repeat;
    background-size: 2000px;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
    position: relative;
    z-index: -1;
}

.title {
    margin: auto;
    background-color: rgb(255, 255, 255);
    background-image: url('img-t1.png');
    background-repeat: no-repeat;
    background-size: 2000px;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
    position: relative;

}

.title-1 {
    background-image: linear-gradient(90deg, rgba(25, 136, 247, 1) 0%, rgba(6, 93, 234, 0.83) 53%, rgba(114, 89, 217, 1) 100%);
    color: rgb(255, 249, 249);
    padding: 20px;
    border-radius: 20px;
    margin: 50px;
    margin-top: 200px;
    margin-bottom: 1000px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transition: 2s;
}

.title-1:hover {
    color: rgb(0, 0, 0);
    animation-name: ti;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 2.5s;
    transform: translate(0px, -30px);
}

@keyframes ti {
    0%{background-image: linear-gradient(90deg, rgba(24, 247, 191, 1) 0%, rgba(189, 217, 89, 1) 100%);}
    50%{background-image: linear-gradient(90deg, rgba(247, 228, 24, 1) 0%, rgba(215, 105, 45, 1) 100%);}
    100%{background-image: linear-gradient(90deg, rgba(247, 24, 24, 1) 0%, rgba(232, 48, 183, 1) 100%);}
}

.title-2 {
    padding: 10px;
    width: 900px;
    font-size: 23px;
    display: flex;
    position: absolute;
    top: 600px;
    left: 50%,-50%;
    background-color: aliceblue;
    border-radius: 10px;
    border: #1525b6 solid 4px;
    animation-name: t2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes t2 {
    0%{border: #672eeb solid 4px;}
    100%{border: #940cbd solid 4px;}
}

.message {
    border: red 3px;
    margin: auto;
    max-width: 800px;
    justify-content: center;
}   

.g1,.g2,.g3,.g4,.g5,.g6 {
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #C4DFAA;
    border-radius: 23px;
    padding-bottom: 10px;
}

.t1,.t2,.t3,.t4,.t5,.t6 {
    padding-top: 7px;
    font-size: 20px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 39px 40px 0px 40px;
    background-color: #90C8AC;
    display: flex;
    height: 40px;
    justify-content: center;
}

.t1:hover {
    box-shadow: -8px -10px 13px 3px rgba(96, 135, 251, 0.24);
    background-color:  #a0a9eb;
    font-weight: 100rem;
}
.t2:hover {
    box-shadow: -8px -10px 13px 3px rgba(96, 135, 251, 0.24);
    background-color:  #a0a9eb;
}
.t3:hover {
    box-shadow: -8px -10px 13px 3px rgba(96, 135, 251, 0.24);
    background-color:  #a0a9eb;
}
.t4:hover {
    box-shadow: -8px -10px 13px 3px rgba(96, 135, 251, 0.24);
    background-color:  #a0a9eb;
}
.t5:hover {
    box-shadow: -8px -10px 13px 3px rgba(96, 135, 251, 0.24);
    background-color:  #a0a9eb;
}
.t6:hover {
    box-shadow: -8px -10px 13px 3px rgba(96, 135, 251, 0.24);
    background-color:  #a0a9eb;
}

.p1,.p2,.p3,.p4,.p5,.p6 {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 9px;
    font-size: 18px;
}

